html {
    background-color: blanchedalmond;
}

#container {
    display: flex;
    height: 500px;
    width: 500px;
}

.gridRow {
    /*height: 20px;
    width:20px;*/
    display: grid;
    flex-direction: column;
    border-color: black;
    border-width: 1px;
}

.gridColumn {
    /*height: 20px;
    width: 20px;*/
    background-color: black;
    border-color: black;
    border-width: 1px;
}